.filter-main-container {
    display: inline-block;
    padding: 0.5em;
}

.filter-description {
    font-size: 1.25em;
    max-width: 90%;
}

.role-header {
    margin: 0.5em 0.5em 0.5em 0;
}

.all-button {
    color: white;
    border: none;
    font-size: 1.25em;
    background-color: #0192c7;
    outline: none;
    padding: 0.1em 0.3em;
    margin: 0 0.1em;
    height: min-content;
    transform: skewX(-10deg);
}

.all-button:active {
    transform: skewX(-10deg) translate(1px, 1px);
}

.select-all-button {
    background-color: rgb(51, 150, 31);
}

.unselect-all-button {
    background-color: rgb(231, 117, 9);
}


.all-button:hover {
    cursor: pointer;
}


.filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.role-icon {
    max-height: 2em;
}

.card-container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(5, max-content);
}

@media (max-width: 1375px) {
    .card-container {
        grid-template-columns: repeat(4, max-content);
    }
}

@media (max-width: 1130px) {
    .card-container {
        grid-template-columns: repeat(3, max-content);
    }
}

@media (max-width: 860px) {
    .card-container {
        grid-template-columns: repeat(2, max-content);
    }
}

@media (max-width: 710px) {
    .card-container {
        grid-template-columns: repeat(3, max-content);
    }
}

@media (max-width: 630px) {
    .card-container {
        grid-template-columns: repeat(2, max-content);
    }
}


@media (max-width: 350px) {
    .card-container {
        grid-template-columns: repeat(1, max-content);
    }
}

@media (max-width: 320px) {
    .card-container {
        grid-template-columns: repeat(2, max-content);
    }
}