<div class="filter-main-container">
  <h1 class="filter-main-header">Filter Heroes</h1>
  <p class="filter-description">
    Select the heroes you wish to play and click in the "Get Random Hero" button
    to get a random hero from the selected ones. If no hero is selected, all heroes are taken into account.
  </p>

  <div class="unselectable">

    <div class="filter-header">
      <img class="role-icon tank-icon" alt="Tank role icon" src="../../../../assets/imgs/roles/tank.png"/>
      <h2 class="role-header">Tank</h2>
      <button class="all-button select-all-button" (click)="setSelectedTanks(true)">
        Select All
      </button>
      <button class="all-button unselect-all-button" (click)="setSelectedTanks(false)">
        Unselect All
      </button>
    </div>

    <div class="card-container">
        <app-hero-card *ngFor="let hero of getTanks()" [hero]="hero"></app-hero-card>
    </div>

    <div class="filter-header">
      <img class="role-icon damage-icon" alt="Damage role icon" src="../../../../assets/imgs/roles/damage.png"/>
      <h2 class="role-header">Damage</h2>
      <button class="all-button select-all-button" (click)="setSelectedDamage(true)">
        Select All
      </button>
      <button class="all-button unselect-all-button" (click)="setSelectedDamage(false)">
        Unselect All
      </button>
    </div>

    <div class="card-container">
        <app-hero-card *ngFor="let hero of getDamage()" [hero]="hero"></app-hero-card>
    </div>

    <div class="filter-header">
      <img class="role-icon support-icon" alt="Support role icon" src="../../../../assets/imgs/roles/support.png"/>
      <h2 class="role-header">Support</h2>
      <button class="all-button select-all-button" (click)="setSelectedSupport(true)">
        Select All
      </button>
      <button class="all-button unselect-all-button" (click)="setSelectedSupport(false)">
        Unselect All
      </button>
    </div>

    <div class="card-container">
        <app-hero-card *ngFor="let hero of getSupport()" [hero]="hero"></app-hero-card>
    </div>

  </div>
</div>
