<div class="display-main-container">
    <h1 class="display-main-header">You should play</h1>
    <img class="hero-image" alt="{{hero.name}} portrait" src="../../../../assets/imgs/heroes/portraits/{{hero.key}}.png"/><br>
    <span class="hero-name">{{hero.name}}</span>
    <button class="get-button" (click)="randomHero()">Get Random Hero</button>
</div>
