.display-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em;
}

.display-main-header {
    align-self: flex-start;
}

.hero-image {
    max-height: 17em;
}

.hero-name {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
    text-shadow: 0px 0px 4px white;
}

.get-button {
    margin-top: 0.5em;
    padding: 0.1em;
    color: inherit;
    border: none;
    font-size: 2em;
    background-color: orangered;
    outline: none;
    min-width: 95%;
}

.get-button:active {
    box-shadow: 0px 0px 3px orange;
}

.get-button:hover {
    cursor: pointer;
}

@media (max-width: 710px) {
    .hero-image {
        max-height: 12em;
    }
}