
<div class="hero-card" [class.selected]="hero.selected === true" (click)="toggle(hero)">
    <img class="hero-image" alt="{{hero.name}} icon" src="../../../../assets/imgs/heroes/icons/{{hero.key}}.png">
    <div class="hero-name" [class.selected]="hero.selected === true">{{hero.name}}</div>
</div>

