.randomizer-main-container {
    display: flex;
    width: 100vw;

    flex-direction: row;
    justify-content: flex-start;
}

app-hero-display {
    display: inline-block;
    flex: 1 0 auto;
    min-width: 20vw;
}

app-hero-filters {
    display: inline-block;
    flex: 2 1 auto;
    min-width: 70vw;
}

@media (max-width: 710px) {
    .randomizer-main-container {
        flex-direction: column;
    }

    app-hero-display {
        min-width: 100vw;
    }
    
    app-hero-filters {
        min-width: 100vw;
    }
}


