.topbar-main-container {
    height: 5vh;
    display: flex;
    background: #000a9c;
    color: #f99e1a;
    align-items: center;
    justify-content: space-between;    
}

.left-container {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
}

.right-container {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ow-logo {
    max-height: 4vh;
}

.main-title {
    font-size: 3vh;
    margin: 0 0.5em;
    padding: 0;
    text-decoration: none;
}

.img-link {
    max-height: 100%;
    display: flex;
    align-items: center;
}

.img-link:visited {
    text-decoration: none;
    color: #f99e1a;
}

img {
    text-decoration: none;
}

.github-logo {
    height: 2.5vh;
    padding: 0 0.2em;
}

.info-icon {
    height: 3.5vh;
    padding: 0 0.2em;
}
