.about-main-container {
    padding: 1em;
    max-width: 75%;
}

@media(max-width: 1000px){
    .about-main-container {
        max-width: 100%;
    }
}

.title {
    color:rgb(248, 158, 74);
    text-decoration: underline;
}

.paragraph-text {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright-notice {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-align: center;
}
